<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Peel Project Register</title>
</head>
<body>
    <div class="container">
        <%- include("partials/header") %>
        <p class="intro-text">hi, welcome to today's Peel tiger session, please search for your name to mark yourself as present.</p>

        <form class="form" action="/search" method="post">
            <input type="text" name="entry" placeholder="Please enter name" >
            <button class="submit-button" type="submit">
                Submit name
            </button>
        </form>

        <a href="#" class="counter-btn">Players present: 0 %></a>


     <% if(locals.data) %>
        
    



    
    </div>
    
</body>
</html>