<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>present Players</title>
</head>
<body>
    <h1>Players present</h1>
    <ol>
        <% players.forEach(player => { %>
            <li><%= player.first_name%> <%= player.last_name %></li>
       <% }) %>
    </ol>
</body>
</html>