html, body {/* Ensure the body takes up the full height of the viewport */
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FCA311;             
}
.container{
    text-align: center;
    margin: 0;
    
}
.hi-text{
    font-size: 3rem;
}
/*Header*/
.main-header{
    font-size: 3rem;
    /*background-color: #338AFF; */
    background-color: #1E96FC;
    vertical-align: middle;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
   
   
  
   
  
}
.header-link{
    align-items: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-weight: 700;
    letter-spacing: -2px;
    font-family: "Syncopate", sans-serif;
 
}
.header-img{
    height: 100px;
    width: 100px;
    margin: 0 10px;
    vertical-align: middle;
}
.header-text{
    vertical-align: middle;
    
}
/*Form in index.ejx */
.form{
    align-items: center;
    
}

.intro-text{
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
}
.counter-btn {
    text-decoration: none;
    font-size: 3rem;
    margin-top: 30px;
    color: black;
    font-family: 'Mulish', sans-serif;
}
input{
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-family: 'Mulish', sans-serif;
    border-radius: 5px;
}
.submit-button{
    border-radius: 10px;
    margin-left: 0;
    color: black;
    
}
.submit-button :hover{
    color: white;
}
.counter-btn{
    color: white;
    
}
.counter-btn a:hover{
    color: black;
}