html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FCA311;
   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:space-between ; /* Space out elements */
    align-items: center; /* Center elements horizontally */
    min-height: 100vh; /* Make the container take full viewport height */
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    

}

.hi-text {
    font-size: 3rem;
}

/* Header */
.main-header {
    font-size: 3rem;
    background-color: #1E96FC;
    vertical-align: middle;
    
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}
.header-link, .header-text, .header-img {
    margin: 0; /* Remove any extra spacing */
}

.header-link {
    align-items: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-weight: 700;
    letter-spacing: -2px;
    font-family: "Syncopate", sans-serif;
    width: 100%;
}

.header-img {
    height: 100px;
    width: 100px;
    margin: 0 10px;
    vertical-align: middle;
}

.header-text {
    vertical-align: middle;
}

/* Form in index.ejs */
.form {
    align-items: center;
}

.intro-text {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
}

input {
    width: auto;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}

.submit-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}

.submit-button:hover {
    color: white;
}

.counter-btn {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: auto; /* Push it to the bottom */
}

.counter-btn:hover {
    color: black;
}

.reset-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}

.reset-button:hover {
    background-color: darkred;
}
